.btn {
    display: inline-block;
    width: auto;
    background-image: linear-gradient(to right, #1f49b4, #144cd9c0);
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    line-height: 20px;
    font-size: 20px;
    color: #ffffff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}
.btn:hover {
    background-image: linear-gradient(to right, rgb(97, 48, 97),rgb(153, 52, 153));
}

.user-btn {
    background-image: linear-gradient(to right, #1f49b4, #144cd9c0);
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 10px;
    font-size: 10px;
    color: #ffffff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.red-btn {
    background-image: linear-gradient(to right, #b10a0a, #e3171bc0);    
}

@media (max-width: 350px) {
    .btn {
        padding-left: 30px;
        padding-right: 30px;
    }
}