.form {
    display: inline-block;
    width:100%;
}
.form-row {
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
}
.form-row:last-of-type {
    display: inline-block;
    width: 100%;
    margin-bottom: 0px;
}
.form-row > label {
    display: inline-block;
    width: 100%;
    margin-bottom: 14px;
    text-transform: uppercase;
    font-size: 14px;
    color:rgba(90, 90, 90, 0.699);
}
.form-row > input {
    display:inline-block;
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    border: none;
    border-bottom: 2px solid lightgrey;
}
.form-row > input:focus {
    outline: blueviolet solid 1px;
}    
.form-row input::placeholder {
    color: rgb(167, 167, 167);
    font-style:italic;
    font-size: 13px;
}

@media (max-width: 680px) {
    .form-row:last-of-type {
        display: flex;
        flex-direction: column;
    }
    .form-row > div {
        display: flex;
        justify-content: center;
        gap: 15px;
    }
}