.background-div {
    display: none;
}

.user-container {
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: rgb(73, 76, 154);
    background: linear-gradient(41deg,
                rgba(73, 76, 154, 1) 0%,
                rgb(72, 117, 201) 100%);
}

.user-top {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    margin-left: 10%;
    padding: 40px 40px 70px 40px;
    background-color: #494eac;
    background-image: url(../img/hill.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #ffffff;
    position: relative;
    top: 30px;
    bottom: 30px;
    border: solid 2px #ffffff;
    border-bottom: none;
    border-radius: 5px;
}

.user-main {
    float: right;
    width: 80%;
    padding: 30px;
    background-color: #ffffff;
    position: relative;
    margin-left: 10%;
    border: solid 2px #ffffff;
    border-top: none;
    border-radius: 5px;
    bottom: 30px;
}

.user-main-title {
    display: inline-block;
    width: 100%;
    font-size: 32px;
    font-weight: lighter;
}

.list {
    display: inline-block;
    width: 100%;
    color: rgba(90, 90, 90, 0.699);
}
.list > h1 {
    font-size: 24px;
}

.list > ul {
    list-style-type: none;
    margin-top: 15px;
    font-size: 18px;
}
.list > ul > li {
    display: flex;
    flex-direction: row;
    margin-top: 3px;
    border: solid 1px lightgray;
    font-size: 10px;
    justify-content: space-between;
}

.list > ul > li:first-of-type {
    margin-top: 8px;
}

li > .client-info {
    display: flex;
    flex-direction: column;
}

li > .client-info > div {
    display: flex;
    padding: 5px 0px 5px 5px;
    gap: 5px;
    font-weight: bold;
    text-transform: capitalize;
    color: darkblue;
    flex-wrap: wrap;
}

.client-info > div > span {
    color: rgba(90, 90, 90, 0.699);
}

.client-info > div > p {
    color: rgba(90, 90, 90, 0.699);
    text-transform: none;
    font-weight: normal;
}

li > .btn-container {
    align-self: center;
    margin-right: 5px;
}

@media (max-width: 850px) {
    .user-container {
        width: 100vw;
    }
}

@media (max-width: 690px) {
    .user-container {
        top: 65%;
    }
        .list > ul > li {
        flex-direction: column;
    }
    .btn-container {
        margin-bottom: 5px;
    }
}

@media (max-width: 600px) {
    .user-main-title {
        font-size: 24px;
    }
}

@media (max-width: 530px) {
    .user-container {
        top: 70%;
    }
} 

@media (max-width: 490px) {
    .user-container {
        top: 75%;
    }
}

@media (max-width: 458px) {
    .user-container {
        top: 80%;
    }
}

@media (max-width: 422px) {
    .user-container {
        top: 83%;
    }
}

@media (max-width: 400px) {
    .user-container {
        top: 86%;
    }
}
@media (max-width: 387px) {
    .user-container {
        top: 89%;
    }
}
@media (max-width: 378px) {
    .user-container {
        top: 93%;
    }
}
@media (max-width: 334px) {
    .user-container {
        top: 98%;
    }
}
@media (max-width: 322px) {
    .user-container {
        top: 100%;
    }
}